In [2]:
import sqlite3 as sq

In [35]:
conn = sq.connect("employee.db")
c = conn.cursor()

In [37]:

c.execute("""CREATE TABLE employees (
        first text,
        last text,
        pay integer
        )""")
conn.commit()

OperationalError: table employees already exists

In [ ]:
#c.execute("INSERT INTO employees VALUES ('Corey', 'Schafer', 5000)")

In [ ]:
n = input("First?: ")
n1 = input("Last: ")
n2 = int(input("Salary: "))

In [77]:
c.execute("INSERT INTO employees VALUES (:first,:last,:pay)", 
          ('first':n,'last':n1,'pay':n2))

In [82]:
def read(df):
    print("Read")
    c = df.cursor()
    c.execute("SELECT * FROM employees ")
    for row in cursor:
        print(f"row = {row}")
    
    conn.commit()
    print(c.fetchall())
    print()

In [83]:
read(conn)

Read
[('Corey', 'Schafer', 5000), ('ziad', 'name', 12)]